.section-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.section-content div {
  background-color: rgba(0, 0, 0, 0.452);
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.section-content div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.section-content img {
  width: 200px;
  height: 120px;
  border-radius: 8px;
}

.section-content .game-info {
  width: 13rem;
  background-color: rgb(88, 88, 88);
}

.section-content .game-info:hover {
  background-color: rgba(226, 11, 11, 0.553);
}