:root {
    --bg-color: #e6e6e6;
    --main-color: #ed1431;
    --text-color: #ffffff;
    --secondary-text: #cccccc;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html, body {
    margin: 0;
    padding: 0;
}
  
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.778);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    cursor: pointer;
    width: 100px;
}

nav {
    display: flex;
    margin-right: 1em;
    gap: 1em;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--main-color);
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
    font-weight: 700;
}

p, h3{
    text-align: center
}

.btn-primary{
    cursor: pointer;
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 0.2em 0;
    border-radius: 0.25em;
    font-weight: 500;
    transition: 0.2s all ease;
}

input.form-input{
    display: block;
    background: transparent;
    color: #bbbbbb;
    width: 100%;
    height: 34px;
    outline: none;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    border: none;
    border-bottom: 1.5px solid var(--main-color);
}

textarea.form-input {
    display: block;
    background: transparent;
    color: #bbbbbb;
    width: 100%;
    outline: none;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    border: none;
    border-bottom: 1.5px solid var(--main-color);
}

.footer-notes{
    text-align: center;
    margin-top: 40px;
    padding: 20px
}

.footer-notes a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-notes a:hover {
    color: var(--main-color);
}

.footer {
    margin-top: auto;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #212529;
    padding-top: 1em;
}

footer.top > img {
    height: 50px;
    margin: 0 auto 1em;
}
  
footer {
    position: relative;
    margin: 0 30px;
    color: rgb(255 255 255 / 50%);
}
  
footer.top {
    display: grid;
    border-bottom: 2px solid rgb(255 255 255 / 20%);
    padding-bottom: 1em;
}
  
footer.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
}
  
footer.top .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}
  
.links-column {
    display: grid;
    gap: 10px;
    text-align: center;
}

footer.top .links-column a {
    display: grid;
    cursor: pointer;
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer.top .links-column a:hover {
    color: var(--main-color);
    padding-left: 6px;
}
  
footer h2 {
    margin: 0 0 1em;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255 255 255 / 96%);
}
  
footer p {
    margin: 0;
}
  
.legal > a {
    cursor: pointer;
    margin: 0 0 0 4px;
}
  
.legal,
.copyright {
    font-size: 12px;
}
  
.legal > span {
    margin-right: 10px;
}
  
footer.top .socials {
    position: absolute;
    left: 50%;
    bottom: 10px;
    translate: -50% 0;
    display: flex;
    align-items: center;
    gap: 18px;
    height: 56px;
}
  
footer.top .socials > a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

footer.top .socials > a:hover {
    padding: 0;
    color: #24262b;
    background-color: #ffffff;
}
  
.socials-column :is(h2, p) {
    display: none;
}
  
@media (width > 400px) {
    .links-column {
        text-align: left;
    }
    
    footer.top .links {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 50px;
    }
    
    footer.bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        text-align: left;
    }
    
    footer.top .socials {
        left: 3em;
        translate: 0;
    }
    
    footer.top > img {
        margin: 0 0 1em;
    }
}
  
@media (width >= 640px) {
    footer {
        margin: 0 auto;
        max-width: 90%;
        padding: 0;
    }
    
    footer.top .links {
        grid-template-columns: repeat(3, 1fr);
    }
    
    footer.top .socials {
        position: static;
    }
    
    footer.bottom {
        justify-content: center;
    }
    
    .socials-column :is(h2, p) {
        display: block;
    }
}