:root {
  --color-white: #f7fcfe;
  --color-dark: #1e191f;
  --color-green:#00ac48;
  --color-pink: #a21849;
  --color-purple: #54367e;
  --color-purple-pink: #6f2a61;
  --color-blue: #2d579f;
  --pink-dark: #5c0e45;
  --blue-dark: #211a5e;
  --purple-dark: #280142;
  --purple-light: #8835fd;
  --pink-light: #ff3078;
  --blue-light: #2d7aff; 
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}
.logo {
  height: 50px;
}

.game-card img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card-title {
  min-height: .75em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button-secondary {
  background-color: #e6e6e6;
  color: #212529;
  border: none;
}

.footer {
  background-color: #212529;
  color: white;
  padding: 40px 0;
}
.footer a {
  color: #adb5bd;
  text-decoration: none;
}
.footer a:hover {
  color: white;
}
.socials a {
  color: #adb5bd;
  font-size: 20px;
  margin-right: 15px;
}
.socials a:hover {
  color: white;
}

.member-card img {
  width: 100%;
  border-radius: 1rem;
}
#home-h1 {
  margin: 2.5rem 0;
  text-align: center;
  color: rgb(109, 109, 109);
  text-transform: uppercase;
  font-weight: 700;
}

.form-check-input:checked {
  background-color: red;
  border-color: red;
}

.swal2-modal{
  color: #FFF;
}

input.form-input{
  display: block;
  background: transparent;
  color: #bbbbbb;
  width: 100%;
  height: 34px;
  outline: none;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.42857143;
  border: none;
  border-bottom: 1.5px solid #b12323;
}

textarea.form-input {
  display: block;
  background: transparent;
  color: #bbbbbb;
  width: 100%;
  outline: none;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.42857143;
  border: none;
  border-bottom: 1.5px solid #b12323;
}

.swal2-modal h2 {
  line-height: 0px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.swal2-modal .swal2-styled{
  border: none !important;
  background: #ff1a34 !important;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 2px;
  outline:none;
}

.swal2-modal{
  border-radius:2px;
  background:#262626 !important;
}

.swal2-modal .swal2-content{
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}