:root {
  --color-white-cottom: #f2f2f2; /*Remete a cor do cultivo de algodão */
  --color-dark: #1c1c1c; /*Proteção espiritual, ancestralidade africana e poder dos elementos.*/
  --color-green-forest:#1E5631; /*Inspiração na mata atlântica, Amazônia, e as ervas sagradas nos terreiros e aldeias.*/
  --color-green:#14853a; /* Variação de verde inspirado na mata*/
  --color-green-glow:#4CAF50; /* Variação de verde inspirado na mata*/
  --color-purple: #6B3FA0; /*Essa cor remete à ancestralidade, força espiritual e conexão com o sagrado.*/
  --color-acai: #601848; /*Remete ao fruto do açaí, fruta originária da terra */
  --color-blue: #002B45; 
  --blue-light: #4A90E2; /*Inspiração: O céu, os rios e a espiritualidade (como Ogum, Oxum e Iemanjá nos orixás).*/
  --color-yellow: #FFB400; /*Inspiração: O sol como símbolo de energia, divindade e tempo nos rituais de matriz africana e na vida indígena.*/
  --color-redish: #8B3400;/*Inspiração: Solo de barro, ocre usado em pinturas corporais indígenas e cerâmicas afro-brasileiras. */
  --red-land: #8B1A1A; /*Remete a cor do sangue dos indígenas e as fortes cores das terras indígenas */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-acai);
}
.logo {
  height: 50px;
}

.navbar {
  background: var(--color-dark);
}

.nav-link {
  color: var(--color-white-cottom);
}
.nav-link:hover {
  color: var(--color-white-cottom);
  transform: scale(1.1);
  transition: .3s;
}

.gamebtn {
  background: var(--color-green-forest);
  color: var(--color-white-cottom);
}
.gamebtn:hover {
  box-shadow: 1px 1px 20px var(--color-green-glow);
  background: var(--color-green);
  color: var(--color-white-cottom);
}

.badge {
  background: var(--color-blue);
}

.game-card img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card-title {
  min-height: .75em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button-secondary {
  background-color: var(--color-white-cottom);
  color: var(--color-acai);
  border: none;
}
.button-secondary:hover {
  box-shadow: 1px 1px 20px var(--blue-light);
  background-color: var(--color-white-cottom);
  color: var(--color-acai);
  border: none;
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-white-cottom);
  padding: 40px 0;
}
.footer a {
  color: #adb5bd;
  text-decoration: none;
}
.footer a:hover {
  color: white;
}
.socials a {
  color: #adb5bd;
  font-size: 20px;
  margin-right: 15px;
}
.socials a:hover {
  color: white;
}

.member-card img {
  width: 100%;
  border-radius: 1rem;
}
#home-h1 {
  margin: 2.5rem 0;
  text-align: center;
  color: var(--color-white-cottom);
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  color: var(--color-white-cottom);
}

.form-check-input:checked {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
}

.swal2-modal{
  color: #FFF;
}

input.form-input{
  display: block;
  background: transparent;
  color: #bbbbbb;
  width: 100%;
  height: 34px;
  outline: none;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.42857143;
  border: none;
  border-bottom: 1.5px solid #b12323;
}

textarea.form-input {
  display: block;
  background: transparent;
  color: #bbbbbb;
  width: 100%;
  outline: none;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.42857143;
  border: none;
  border-bottom: 1.5px solid #b12323;
}

.swal2-modal h2 {
  line-height: 0px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.swal2-modal .swal2-styled{
  border: none !important;
  background: #ff1a34 !important;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 2px;
  outline:none;
}

.swal2-modal{
  border-radius:2px;
  background:#262626 !important;
}

.swal2-modal .swal2-content{
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}